# Configurações do Google Earth Engine
GEE_PROJECT_ID=seu-projeto-gee
GOOGLE_APPLICATION_CREDENTIALS_PATH=secrets/seu-arquivo-de-chave.json

# Configurações do INPE (Acesso CBERS-4A)
INPE_EMAIL=seu@email.com
INPE_PASSWORD=sua-senha-do-inpe

# Configurações do Planet (Mosaicos WMTS)
# URL completa do endpoint WMTS com sua API key
PLANET_API=https://api.planet.com/basemaps/v1/mosaics/wmts?api_key=sua-api-key